
/* NAVIGATION (medium breakpoint and up) */
  nav {
    ul {
        display: flex;
        justify-content: space-around;
    }
    ul li a {
    border: none;
    padding: 1rem 2rem;
    border-radius: 16px;
    }
    ul li a:hover {
        text-decoration: underline;
        text-decoration-style: wavy;
        text-underline-offset: 3px;
        }
}

nav ul li.active a{
    background: none;
    color: #f28383;
    padding: 1rem 2rem;
    border-radius: 16px;
}
nav ul li a:hover {
    background: none;
    color: #f28383;
    padding: 1rem 2rem;
    border-radius: 16px;
}